{% extends 'GreibitPanelAdminBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Test'}, 'GreibitCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

    <div class="row">

        <div class="col-md-12">
            <h1 class="page-header">
                {{ 'views.index.list'|trans({'%entity%': 'Test'}, 'GreibitCrudGeneratorBundle') }}

                                    <a class="btn btn-primary btn-circle btn-lg float-right" href="{{ path('test_new') }}">
                        <span class="glyphicon glyphicon-star"></span>
                    </a>
                            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 well">
            <form class="filter-form" action="{{ path('test') }}"
                  method="get" {{ form_enctype(filterForm) }}>
                <p>

                </p>
                <table class="crud-table table table-striped table-bordered table-condensed">
                    <thead>
                    <tr>
                            <th>
                                {{ form_row(filterForm.id) }}
                            </th>
                            <th>
                                {{ form_row(filterForm.name) }}
                            </th>
                            <th>
                                {{ form_row(filterForm.points) }}
                            </th>
                            <th>
                                {{ form_row(filterForm.created) }}
                            </th>
                        <th>
                            <button type="submit" name="filter_action"  value="filter"
                                    class="btn btn-primary btn-xs filter-button"><i class="fa fa-filter"></i> {{ 'views.index.filter'|trans({}, 'GreibitCrudGeneratorBundle') }}</button>
                            <button type="submit" name="filter_action" value="reset"
                                    class="btn btn-default btn-xs filter-button"><i class="fa fa-eraser"></i> {{ 'views.index.reset'|trans({}, 'GreibitCrudGeneratorBundle') }}</button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                    <tr>
                                <td class="id-td">
                                    <a href="{{ path('test_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                                </td>
                                <td class="string-td">{{ entity.name }}</td>
                                <td class="integer-td">{{ entity.points }}</td>
                                <td class="date-td">{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td class="actions-td">
        <a class="btn btn-default btn-circle" href="{{ path('test_show', { 'id': entity.id }) }}">
            <span class="glyphicon glyphicon-search"></span>
        </a>
        <a class="btn btn-default btn-circle" href="{{ path('test_edit', { 'id': entity.id }) }}">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>                                </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ form_rest(filterForm) }}
            </form>
            <div class="row">
                <div class="col-md-12">
                    {{ pagerHtml|raw }}
                </div>

            </div>
        </div>
    </div>



</div>

{% endblock %}