{% extends 'GreibitPanelAdminBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Test'}, 'GreibitCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
<div class="row">
    <div class="col-md-12">
    <h1 class="page-header">
        Test
        <span class="float-right">
                            <div class="float-left">
        <a class="btn btn-default btn-circle btn-lg" href="{{ path('test') }}">
            <span class="glyphicon glyphicon-align-justify"></span>
        </a>
    </div>
    <div class="float-left">
        <a class="btn btn-primary btn-circle btn-lg" href="{{ path('test_edit', { 'id': entity.id }) }}">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>
    </div>
    <div class="float-left">
        <form action="{{ path('test_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger btn-circle btn-lg" type="submit" onclick="return confirm('{{ 'views.recordactions.confirm'|trans({}, 'GreibitCrudGeneratorBundle') }}');"><span class="glyphicon glyphicon-trash"></span></button>
        </form>
    </div>
        </span>
    </h1>

<form class="form-horizontal">
    <fieldset>        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label">Id</label>
            </div>
            <div class="col-sm-10">                    <span class="form-control">{{ entity.id }}</span>            </div>
        </div>        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label">Name</label>
            </div>
            <div class="col-sm-10">                    <span class="form-control">{{ entity.name }}</span>            </div>
        </div>        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label">Points</label>
            </div>
            <div class="col-sm-10">                    <span class="form-control">{{ entity.points }}</span>            </div>
        </div>        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label">Created</label>
            </div>
            <div class="col-sm-10">                    <span class="form-control">{{ entity.created|date('Y-m-d H:i:s') }}</span>            </div>
        </div>    </fieldset>
</form>

</div>
</div>
{% endblock %}